.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.16);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%),
    inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}
.image-edit {
  width: 44rem;
}
.image-edit-thirth {
  width: 32.7rem;
}
.form-fourth-hero {
  width: 26.5rem;
  margin-left: 4.2rem;
}
.img-sixth-hero {
  width: 45rem;
}
@media screen and (max-width: 576px) {
  .image-edit {
    width: 75%;
    margin-bottom: 1.5rem;
  }
  .image-edit-thirth {
    width: 20rem;
    margin-bottom: 1.5rem;
  }
  .form-fourth-hero {
    margin-left: 0;
  }
}
